.myevents-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #2e2e2e;
    width: 90%;
    border-radius: 20px;
    box-shadow: 2px 24px 85px 20px rgba(0,0,0,0.75);
    margin-top: 10%;
}

.myevents-title {
    color: #d3fbe7;
}