.myevents-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.myevents-title {
    color: #d3fbe7;
}