.event-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.query-display {
    color: #d3fbe7;
    font-size: 1rem;
}


.back-button {
    color: white!important;
    background-color: #003f44!important;
    border: none;
    height: 5vmax;
    width: 8vmax;
    margin: 5%!important;
    box-shadow: 1px 0px 7px rgba(0,0,0,.8)!important;
    text-transform: none!important;
    border-radius: 3px;
}