

.captain-picture {
  width: 100%;  
}

.demo-info-tag {
  margin-bottom: 0;
  padding-left: 1em;
}
.demo-p-tag {
  text-align: left;
}

.edit-profile-icon {
  width: 30px;
  margin-right: 1em;
  cursor: pointer;
}
.edit-profile-icon:hover, .edit-event-icon:hover {
  background-color:#01444e;
  padding: 0.2em;
}
.edit-event-icon {
  width: 27px;
  cursor: pointer;
}

.style-blank-div {
  /* width: 100%; */
  height: 10px;
  background-color: lightgreen;
}

hr {
  border: gray solid 0.5px;
}

.event-root {
  border: white solid 2px;
  width: 100%;
}

.edit-event-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  right: 50%;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}
.demo-info {
  display: flex;
  flex-direction: row;
}
.static-data {
  justify-content: flex-start;
}
.captain-data{
  justify-content: flex-end;
  padding-left: 1em;
}



@media screen and (min-width: 375px){
  .demo-p-tag{
    font-size: 110%;
  }
  .captain-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border: green solid 2px;
  }
  .captain-wrapper {
    padding: 0 1em;
  }
  .picture-container {
    padding: 1em;
  }
  .demo-info {
    padding-left: 4em;
  }
  .form-spacing {
    margin: 1em;
  }
  .icon-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width: 900px) {
  .captain-container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .event-root {
    display: flex;
    flex-direction: column;
  }
  .captain-wrapper {
    width: 500px;
    border: blueviolet solid 2px;
    margin-left: 1em;
  }
  .icon-buttons, .bio, .demo-info, .event-header { 
    padding: 0 1em;
  }
  .icon-buttons {
    border: blue solid 2px;
    text-align: center;
  }
  .demo-info {
    border: yellow solid 2px;
  }
  .bio {
    border: pink solid 2px;
    padding-top: 1em;
  }
  .events-page {
    /* align-self: stretch; */
    border: red solid 3px;
    margin-right: 2em;
  }


}