.form-container {
    display: flex!important;
    /* align-content: center!important; */
    flex-direction: column;
    text-align: center;
    background-color: #d3fbe7;
    margin: 0 auto;
    height: 50%;
    width: 80%;
    padding: 20px;
    border: 1px solid #005e60!important;
    border-radius: 15px;
    margin-top: 100px!important;
}

.form-title {
    color: #005e60;
}

input[type="file"] {
    outline: none;
}

::-webkit-file-upload-button {
    background: #003f44;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 1em;
  }

  ::-webkit-file-upload-button:hover {
    background: #003f44 radial-gradient(circle, transparent 1%, #018688 1%) center/15000%;
  }

  ::-webkit-file-upload-button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

  

.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* .form-submit {
    background-color: #003f44!important;
    height: 5vh!important;
    width: 8vh!important;
    padding: 0 5%!important;
    text-transform: none!important;
    font-size: 1rem!important;
    width: 10%;
    color: white!important;
    box-shadow: 1px 0px 7px rgba(0,0,0,.8)!important;
} */
.add-event-submit {
    background-color: #003f44!important;
}

@media(min-width: 801px) {
    .form-container {
        width: 35%;
    }
}