.eventpage-container {
    color: #00363e;
    background-color: #d3fbe7;
}

.eventpage-title {
    text-align: center;
}

.event-cancel {
    background-color:#a71d14!important;
    color: rgb(255, 255, 255)!important;
    margin: 5%!important;
}

.event-feedback {
    background-color:#167ba9!important;
    color: rgb(255, 255, 255)!important;
    margin: 5%!important;
}

.event-attend {
    background-color:#00363e!important;
    color: rgb(255, 255, 255)!important;
    margin: 5%!important;
}

.imagebox{
    height: 200px;
    width: 200px;
    margin-top: 10%;
    margin-left: 20%;
}
.attendButton{
    height: 25px;
    width: 100px;
   margin: 10px;
   margin-left: 20%;
   display: block;
}

.eventpage-image-url{
    max-width: 400px;
}

.eventpage-details {
    font-size: 1.3rem;
    margin: 10px;
}

.eventpage-description {
    margin: 10px;
}

.attendee-count {
    margin: 10px;
    margin-top: 80px;
}

.host {
    margin: 10px;
}

.main {
    max-width: 600px !important;
    max-height: 600px !important;

    width: 600px;
    /* height: 600px; */
 }

 .style-size {
     text-align: center;
 }
