.paper {
    padding: 0px;
    text-align: center;
    background-color: #d3fbe7!important;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5)!important;
    max-width: 400px;
    margin: 0px auto;
    padding:  2px;
}