.side-drawer {
    height: 100%;
    background: #d3fbe7;
    /* box-shadow: 1px 0px 7px rgba(0,0,0,0.5); */
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    max-width: 250px;
    z-index: 400;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.side-drawer.open {
    transform: translateX(0);
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
}


.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.side-drawer li {
    margin: 0.5rem -0.75rem;
    border-bottom: 1px solid rgba(6, 73, 56, 0.219);
    padding-bottom: 10px;
    width: 100%;
}

.side-drawer a {
    color: #00363e;
    text-decoration: none;
    font-size: 1.0rem;
}

.side-drawer a:hover, 
.side-drawer a:active {
    color: #09729e;
}

.drawer-header {
    color: #00363e;
    margin: 0.5rem 1.3rem;
}

.drawer-logo {
    height: 125px;
    width: 150px;
}

@media (min-width: 801px) {
    .side-drawer {
        display: none;
    }
}