.root {
    flex-grow: 1;
    padding: 0px 3px;
}

.paper {
    text-align: center;
    background-color: #d3fbe7!important;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5)!important;
    color: #00363e;
    max-width: 400px;
    margin: 10% auto;
    padding:  2%;
}

.image-url {
    width: 100%;
}

