.search-container {
    color: #d3fbe7;
    text-align: center;
    /* margin-bottom: 2%; */
}


.search-bar {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search {
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    background-color: #d3fbe7;
    font-size: 1.25rem;
    border: none;
    box-shadow: 0px 10px 36px -4px rgba(0,0,0,0.79);
    /* border-bottom: 2px solid #005e60; */
    color: #00252b;
    /* padding-left: 5px; */
}

.search::placeholder {
    /* color: #00252b; */
    font-size: 1rem;
    padding-left: .3rem;
    /* text-align: center; */
}

.search:focus {
    outline: none;
    /* width: 55vw; */
    /* transition: width .2s ease-in-out 0s; */
}

.submit {
    /* display: block!important; */
    /* margin: 0 auto!important; */
    background-color: #003f44!important;
    height: 5vh!important;
    width: 8vh!important;
    padding: 0 5%!important;
    text-transform: none!important;
    font-size: 1rem!important;
    width: 10%;
    color: white!important;
    box-shadow: 1px 0px 7px rgba(0,0,0,.8)!important;

    /* margin-top: .5rem!important; */
    /* margin: auto 0!important; */
}

@media(max-width: 800px) {
    .search {
        width: 65%;
        border-radius: 5px;
        background-color: #d3fbe7;
        border: none;
        /* border-bottom: 2px solid #005e60; */
        color: #00252b;
    }
}